<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plantilla de Componentes</title>
        <link rel="stylesheet" href="../css/style.css" />
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <!-- Axios js -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <main id="app" class="section">
            <!-- * Sin componente -->
            <!-- <article v-for="(pizza, index) in pizzas" class="card">
                <div class="card-image">
                    <figure>
                        <img :src="pizza.image" alt="Pizza" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="block">
                        <h4 class="is-title is-4">{{ pizza.name }}</h4>
                    </div>
                    <button @click="addPizza(index)" class="button">+</button>
                    <span class="tag is-medium">{{ pizza.amount }}</span>
                    <button @click="subsPizza(index)" class="button">-</button>
                </div>
            </article> -->
            <!-- * Con componente local -->
            <v-pizza
                v-for="(pizza, index) in pizzas"
                :name="pizza.name"
                :image="pizza.image"
                :amount="pizza.amount"
                :key="index"
            ></v-pizza>
        </main>
        <!-- ! Plantilla componente -->
        <!-- TODO: Documentación https://vuejs.org/v2/guide/components-edge-cases.html#X-Templates -->
        <script type="text/x-template" id="pizza-template">
            <article class="card">
                <div class="card-image">
                    <figure>
                        <img :src="image" alt="Pizza" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="block">
                        <h4 class="is-title is-4">{{ name }}</h4>
                    </div>
                    <button @click="addPizza" class="button">+</button>
                    <span class="tag is-medium">{{ amount }}</span>
                    <button @click="subsPizza" class="button">-</button>
                </div>
            </article>
        </script>
        <script>
            const VPizza = {
                props: {
                    image: String,
                    amount: Number,
                    name: String,
                },
                template: "#pizza-template",
                methods: {
                    addPizza() {
                        // ! Mutación de una prop -> Imprime un Warning
                        this.amount++;
                    },
                    subsPizza() {
                        // ! Mutación de una prop -> Imprime un Warning
                        this.amount > 0 && this.amount--;
                    },
                },
            };
            new Vue({
                el: "#app",
                data: {
                    pizzas: [
                        {
                            name: "Pizza de carne",
                            image: "https://cocina-casera.com/wp-content/uploads/2011/12/pizaa-carne-receta.jpg",
                            amount: 0,
                        },
                        {
                            name: "Mini Pizza",
                            image: "https://i.ytimg.com/vi/4wg09Xms_wo/sddefault.jpg",
                            amount: 0,
                        },
                        {
                            name: "Pizza Pepperoni",
                            image: "https://i.ytimg.com/vi/4wg09Xms_wo/sddefault.jpg",
                            amount: 0,
                        },
                    ],
                },
                // methods: {
                //     addPizza(i) {
                //         return this.pizzas[i].amount++;
                //     },
                //     subsPizza(i) {
                //         return this.pizzas[i].amount == 0
                //             ? (this.pizzas[i].amount = 0)
                //             : this.pizzas[i].amount--;
                //     },
                // },
                components: {
                    VPizza,
                },
            });
            Vue.config.devtools = true;
        </script>
    </body>
</html>
